* {
  outline: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  font-family: "Helvetica Neue", Helvetica, Hiragino Sans GB, "Microsoft Yahei", STHeiTi, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0 auto;
  font-size: 12px;
  line-height: 1;
  max-width: 750px;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
}
a:active {
  outline: 0;
}
i {
  font-style: normal;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: normal;
}
img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}
input,
textarea,
button {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Hiragino Sans GB, "Microsoft Yahei", STHeiTi, Arial, sans-serif;
}
textarea {
  resize: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
form,
blockquote {
  margin: 0;
}
ul,
ol,
li,
dl,
dd {
  margin: 0;
  padding: 0;
}
ul,
ol,
li {
  list-style: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
  text-align: right;
  line-height: 1.5em;
  font-family: "Helvetica Neue", Helvetica, Hiragino Sans GB, "Microsoft Yahei", STHeiTi, Arial, sans-serif;
}
.clearfix {
  content: '';
  clear: both;
  display: table;
}
html {
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  text-align: center;
  background-color: #f04040;
}
.alertbg_p60 {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: block;
}
.alertbg_p90 {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: block;
}
#fst_prize {
  display: none;
}
#fst_prize .prize_a {
  position: fixed;
  width: 2.885rem;
  height: 3.8rem;
  z-index: 9999;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-image: url('../images/prize_a.png');
}
#fst_prize .prize_a .btn {
  position: fixed;
  width: 0.985rem;
  height: 0.985rem;
  z-index: 99999;
  top: 2.07rem;
  left: 50%;
  margin-left: -0.4925rem;
  background-color: transparent;
  background-image: url('../images/prize_a_btn.png');
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
#fst_prize .close {
  position: fixed;
  width: 0.21rem;
  height: 0.215rem;
  z-index: 99999;
  top: 0.2rem;
  right: 0.185rem;
  background-color: transparent;
  background-image: url('../images/close_a.png');
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.my_prize_bt {
  position: absolute;
  top: -0.02rem;
  right: 0;
  width: 0.91rem;
  height: 0.905rem;
  background-color: transparent;
  background-image: url('../images/my_prize_bt.png');
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.rule_btn {
  position: absolute;
  width: 0.77rem;
  height: 0.26rem;
  top: 0.105rem;
  left: 0.15rem;
  background-color: transparent;
  background-image: url('../images/rule_btn.png');
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.title_txt {
  width: 3.495rem;
  margin-top: 0.4rem;
}
.count_bar {
  display: inline-block;
  width: 1.54rem;
  height: 0.295rem;
  line-height: 0.295rem;
  border: 2px solid #ffff33;
  border-radius: 0.15rem;
  -webkit-border-radius: 0.15rem;
  -moz-border-radius: 0.15rem;
  color: #ffff33;
  font-size: 0.1575rem;
  text-align: center;
  font-family: "SimSun";
  margin-top: 0.175rem;
}
.disk {
  display: inline-block;
  position: relative;
  width: 3.4rem;
  height: 3.4rem;
  margin: 0.135rem 0 0.285rem 0;
}
.disk .side {
  position: absolute;
  z-index: 99;
  width: 3.4rem;
  height: 3.4rem;
  background-color: transparent;
  background-image: url('../images/light.png');
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.disk .side_2 {
  background-image: url('../images/light_2.png');
}
.disk .surface {
  position: absolute;
  z-index: 9;
  width: 3.4rem;
  height: 3.4rem;
  background-color: transparent;
  background-image: url('../images/disk_surface.png');
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.disk .pointer {
  position: absolute;
  z-index: 999;
  width: 1.75rem;
  height: 1.75rem;
  background-image: url('../images/pointer_btn.png');
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.disk #finger {
  position: absolute;
  width: 0.9rem;
  height: 0.885rem;
  left: 1.9rem;
  top: 1.85rem;
  z-index: 1000;
  background-image: url('../images/finger_1.png');
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.disk #finger.finger_animation_1 {
  background-image: url('../images/finger_1.png');
}
.disk #finger.finger_animation_2 {
  background-image: url('../images/finger_2.png');
}
.disk #finger.finger_animation_3 {
  background-image: url('../images/finger_3.png');
}
.disk #finger.finger_animation_4 {
  background-image: url('../images/finger_4.png');
}
.disk_animation {
  animation: rotatedot 24s linear infinite;
  -moz-animation: rotatedot 24s linear infinite;
  -webkit-animation: rotatedot 24s linear infinite;
}
@keyframes rotatedot {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotatedot {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotatedot {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rule_bar {
  display: none;
  position: fixed;
  z-index: 9999;
}
.rule_bar .text_bar {
  position: fixed;
  z-index: 99999;
  width: 3.275rem;
  height: 4.45rem;
  background-color: #e59034;
  border-radius: 0.15rem;
  -webkit-border-radius: 0.15rem;
  -moz-border-radius: 0.15rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 0.25rem 0.2rem;
  color: #fff;
  font-family: "SimSun";
}
.rule_bar .text_bar h3 {
  font-size: 0.2rem;
  margin-bottom: 0.2rem;
}
.rule_bar .text_bar p {
  font-size: 0.15rem;
  line-height: 0.25rem;
  text-align: left;
}
.rule_bar .text_bar .mb75 {
  margin-bottom: 0.35rem;
}
.rule_bar .text_bar .close {
  position: absolute;
  width: 0.13rem;
  height: 0.14rem;
  right: 0.115rem;
  top: 0.075rem;
  background-image: url('../images/close_rule.png');
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
#winning {
  display: none;
  position: fixed;
  z-index: 9999;
}
#winning .close {
  position: fixed;
  width: 0.21rem;
  height: 0.215rem;
  right: 0.19rem;
  top: 0.2rem;
  background-image: url('../images/close_2.png');
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  z-index: 99999999;
}
#winning .winning_bar {
  position: fixed;
  width: 2.935rem;
  height: 2.645rem;
  left: 50%;
  top: 2.77rem;
  margin-left: -1.4675rem;
  z-index: 99999;
}
#winning .winning_bar .c_bar {
  position: relative;
  width: 2.935rem;
  height: 2.645rem;
  background-color: #ffebeb;
  border-radius: 0.1rem;
  -webkit-border-radius: 0.1rem;
  -moz-border-radius: 0.1rem;
  z-index: 99999;
}
#winning .winning_bar .title {
  position: absolute;
  width: 3.46rem;
  height: 1.735rem;
  left: 50%;
  top: -1.61rem;
  margin-left: -1.73rem;
  background-image: url('../images/winning_title.png');
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  z-index: 999999;
}
#winning .winning_bar .banner {
  display: inline-block;
  width: 2.71rem;
  height: 1.265rem;
  margin-top: 0.225rem;
  background-color: #fff;
  line-height: 1.265rem;
}
#winning .winning_bar .banner .banner_img {
  width: 2.6rem;
}
#winning .winning_bar .banner_text {
  width: 100%;
  font-size: 0.1558rem;
  color: #e73636;
  font-family: "SimSun";
  margin: 0.13rem 0 0.24rem 0;
}
#winning .winning_bar .winning_btn {
  display: inline-block;
  width: 2.045rem;
  height: 0.48rem;
  background-image: url('../images/banner_btn.png');
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-color: transparent;
}
#winning .winning_bar .man {
  position: absolute;
  width: 1.98rem;
  height: 1.195rem;
  margin-left: -0.99rem;
  left: 50%;
  top: -1.7rem;
  background-image: url('../images/man.png');
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  z-index: 99999;
}
#winning .winning_bar .bg_light {
  position: absolute;
  width: 7.5rem;
  height: 7.5rem;
  margin-left: -3.75rem;
  left: 50%;
  top: -4.25rem;
  background-image: url('../images/bg_light.png');
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  z-index: 99999;
}
.man_animation {
  animation: wobble 1.5s linear infinite;
  -moz-animation: wobble 1.5s linear infinite;
  -webkit-animation: wobble 1.5s linear infinite;
}
@keyframes wobble {
  from {
    transform: none;
    -webkit-transform: none;
  }
  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  to {
    transform: none;
    -webkit-transform: none;
  }
}
@-webkit-keyframes wobble {
  from {
    transform: none;
    -webkit-transform: none;
  }
  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  to {
    transform: none;
    -webkit-transform: none;
  }
}
.bg_light_animation {
  animation: bg_light_a 6s linear infinite;
  -moz-animation: bg_light_a 6s linear infinite;
  -webkit-animation: bg_light_a 6s linear infinite;
}
@keyframes bg_light_a {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes bg_light_a {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes bg_light_a {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.show_a {
  animation: change 0.4s;
  -moz-animation: change 0.4s;
  -webkit-animation: change 0.4s;
}
@keyframes change {
  from {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes change {
  from {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes change {
  from {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.alpha {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.alpha body {
  height: 100%;
  overflow: hidden;
}
.ios {
  display: none;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 0.12rem;
  margin-bottom: 0.1rem;
}
